---
Checks: '-*,
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-branch-clone,
  bugprone-incorrect-roundings,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-pointer-arithmetic-in-alloc,
  bugprone-misplaced-widening-cast,
  bugprone-multiple-statement-macro,
  bugprone-no-escape,
  bugprone-posix-return,
  bugprone-reserved-identifier,
  bugprone-sizeof-expression,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  bugprone-suspicious-memory-comparison,
  bugprone-undefined-memory-manipulation,
  cert-err34-c,
  cert-flp30-c,
  cert-str34-c,
  misc-no-recursion,
  misc-misplaced-const,
  performance-faster-string-find,
  performance-implicit-conversion-in-loop,
  performance-inefficient-string-concatenation,
  portability-simd-intrinsics'